<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasky.spring_boot_mybatis.dao.UserMappper">

    <resultMap id="BaseResultMap" type="com.seasky.spring_boot_mybatis.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </resultMap>

    <select id="selectUsersLikeName" resultMap="BaseResultMap">
        select * from user where user_name like  concat(concat('%',#{userName}),'%')
    </select>

</mapper>